* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

.container_2 {
  max-width: 1318px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-bg {
  background: #232536;
}

main {
  padding-top: 96px;
}
main .container_2 .main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .container_2 .main__header_left {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 24px;
}
main .container_2 .main__header_left p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.87;
}
main .container_2 .award__winning {
  display: flex;
  flex-direction: column;
}
main .container_2 .award__winning .awarding__header {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 24px;
}
main .container_2 .award__winning .awarding__header h1 {
  max-width: 664px;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
}
main .container_2 .award__winning .awarding__header p {
  max-width: 719px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.87;
}
main .container_2 .award__winning .above__cards {
  display: flex;
  align-items: center;
  justify-content: end;
}
main .container_2 .award__winning .above__cards .colors {
  height: 20px;
}
main .container_2 .award__winning .above__cards .color__1 {
  width: 80px;
  background: #ffa155;
}
main .container_2 .award__winning .above__cards .color__2 {
  width: 216px;
  background: #ffd3af;
}
main .container_2 .award__winning .above__cards .color__3 {
  width: 50px;
  background: #444cfc;
}
main .container_2 .award__winning .award__cards {
  position: relative;
  display: flex;
  justify-content: space-between;
}
main .container_2 .award__winning .award__cards .cards {
  max-width: 422px;
  height: auto;
  overflow: hidden;
  opacity: 10;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
main .container_2 .award__winning .award__cards .cards img {
  max-width: 100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
main .container_2 .award__winning .award__cards .cards:hover img {
  opacity: 0.5;
}
@media (max-width: 480px) {
  main .container_2 .award__winning .award__cards {
    flex-direction: column;
    gap: 10px;
  }
}
main .container_2 .our__story {
  margin-top: 96px;
  margin-bottom: 96px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
main .container_2 .our__story .story__left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .container_2 .our__story .story__left .left__header {
  width: 16px;
  height: 16px;
  background: #666dff;
}
main .container_2 .our__story .story__left span {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}
main .container_2 .our__story .story__left h1 {
  max-width: 550px;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #232536;
}
main .container_2 .our__story .story__left p {
  margin-top: 8px;
  max-width: 622px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.87;
}
main .container_2 .our__story .story__right {
  background: rgba(255, 211, 175, 0.57);
  padding: 62px 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
main .container_2 .our__story .story__right .first__row,
main .container_2 .our__story .story__right .second__row {
  display: flex;
  justify-content: space-between;
  gap: 62px;
}
main .container_2 .our__story .story__right .first__row .boxes h1,
main .container_2 .our__story .story__right .second__row .boxes h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #232536;
}
main .container_2 .our__story .story__right .first__row .boxes span,
main .container_2 .our__story .story__right .second__row .boxes span {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
  opacity: 0.87;
}
main .container_2 .our__story .story__right .first__row .boxes .cl__shapes,
main .container_2 .our__story .story__right .second__row .boxes .cl__shapes {
  display: flex;
}
main .container_2 .our__story .story__right .first__row .boxes .cl__shapes .colors,
main .container_2 .our__story .story__right .second__row .boxes .cl__shapes .colors {
  height: 6px;
}
main .container_2 .our__story .story__right .first__row .boxes .cl__shapes .color__1,
main .container_2 .our__story .story__right .second__row .boxes .cl__shapes .color__1 {
  width: 10px;
  background: #444cfc;
}
main .container_2 .our__story .story__right .first__row .boxes .cl__shapes .color__2,
main .container_2 .our__story .story__right .second__row .boxes .cl__shapes .color__2 {
  width: 45px;
  background: #ffd3af;
}
main .container_2 .our__story .story__right .first__row .boxes .cl__shapes .color__3,
main .container_2 .our__story .story__right .second__row .boxes .cl__shapes .color__3 {
  width: 17px;
  background: #ffa155;
}
@media (max-width: 1000px) {
  main .container_2 .our__story {
    max-width: 100%;
    flex-direction: column;
  }
  main .container_2 .our__story .story__left {
    text-align: center;
  }
  main .container_2 .our__story .story__left h1 {
    max-width: 100%;
  }
  main .container_2 .our__story .story__left p {
    max-width: 100%;
  }
  main .container_2 .our__story .story__right {
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 540px) {
  main .container_2 .our__story .first__row,
  main .container_2 .our__story .second__row {
    align-items: center;
    flex-direction: column;
  }
}
main .container_2 .sponsors {
  background: #fafafc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 976px) {
  main .container_2 .sponsors {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  main .container_2 .sponsors {
    display: flex;
    flex-direction: column;
  }
}