@use "../global";
main {
  padding-top: 96px;
  .container_2 {
    .main__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_left {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 24px;
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: #000000;
          opacity: 0.87;
        }
      }
    }
    .award__winning {
      display: flex;
      flex-direction: column;
      .awarding__header {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 24px;
        h1 {
          max-width: 664px;
          font-weight: 600;
          font-size: 48px;
          line-height: 58px;
          color: #232536;
        }
        p {
          max-width: 719px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #232536;
          opacity: 0.87;
        }
      }
      .above__cards {
        display: flex;
        align-items: center;
        justify-content: end;
        .colors {
          height: 20px;
        }
        .color__1 {
          width: 80px;
          background: #ffa155;
        }
        .color__2 {
          width: 216px;
          background: #ffd3af;
        }
        .color__3 {
          width: 50px;
          background: #444cfc;
        }
      }
      .award__cards {
        position: relative;
        display: flex;
        justify-content: space-between;
        .cards {
          max-width: 422px;
          height: auto;
          overflow: hidden;
          opacity: 10;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;
          img {
            max-width: 100%;
            // height: auto;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
          }
        }
        .cards:hover {
          img {
            opacity: 0.5;
          }
        }
      }
      @media (max-width: 480px) {
        .award__cards {
          flex-direction: column;
          gap: 10px;
        }
      }
    }
    .our__story {
      margin-top: 96px;
      margin-bottom: 96px;
      display: flex;
      align-items: start;
      justify-content: space-between;
      .story__left {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .left__header {
          width: 16px;
          height: 16px;
          background: #666dff;
        }
        span {
          font-weight: 600;
          font-size: 16px;
          line-height: 28px;
          color: #232536;
        }
        h1 {
          max-width: 550px;
          font-weight: 600;
          font-size: 36px;
          line-height: 54px;
          color: #232536;
        }
        p {
          margin-top: 8px;
          max-width: 622px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #232536;
          opacity: 0.87;
        }
      }
      .story__right {
        background: rgba(255, 211, 175, 0.57);
        padding: 62px 110px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        .first__row,
        .second__row {
          display: flex;
          justify-content: space-between;
          gap: 62px;
          .boxes {
            h1 {
              font-weight: 600;
              font-size: 36px;
              line-height: 54px;
              color: #232536;
            }
            span {
              font-weight: 600;
              font-size: 16px;
              line-height: 28px;
              color: #232536;
              opacity: 0.87;
            }
            .cl__shapes {
              display: flex;
              .colors {
                height: 6px;
              }
              .color__1 {
                width: 10px;
                background: #444cfc;
              }
              .color__2 {
                width: 45px;
                background: #ffd3af;
              }
              .color__3 {
                width: 17px;
                background: #ffa155;
              }
            }
          }
        }
      }
    }
    @media (max-width: 1000px) {
      .our__story {
        max-width: 100%;
        flex-direction: column;
        .story__left {
          text-align: center;
          h1 {
            max-width: 100%;
          }
          p {
            max-width: 100%;
          }
        }
        .story__right {
          width: 100%;
          justify-content: space-between;
        }
      }
    }
    @media (max-width: 540px) {
      .our__story {
        .first__row,
        .second__row {
          align-items: center;
          flex-direction: column;
        }
      }
    }
    .sponsors {
      background: #fafafc;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @media (max-width: 976px) {
      .sponsors {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
    @media (max-width: 480px) {
      .sponsors {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
