.dark-light-icon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.toggle-container {
  background: #ffffff;
  padding: 5px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  z-index: 999999999999999;
  display: inline-block;
}

.toggle-checkbox {
  border-radius: 50px;
  display: none;
}

.toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
}

.toggle-label i {
  font-size: 20px;
  transition: transform 0.3s;
}

.toggle-checkbox:checked + .toggle-label i:last-child {
  transform: translateY(-100%);
}

.toggle-checkbox:checked + .toggle-label i:first-child {
  transform: translateY(100%);
}
.dark-mode {
  transition: 0.5s all;
  background: #282828 !important;
  color: #fff !important;
}
.dark-mode #main {
  transition: 0.5s all;
  background: #212121;
}
.dark-mode nav,
.dark-mode .services {
  transition: 0.5s all;
  background: #242424;
}
.dark-mode nav *:not(.toggle-container) {
  transition: 0.5s all;
  background: #232323;
}
.dark-mode .expertise {
  transition: 0.5s all;
  background: #212121 !important;
  color: #fff !important;
}
.dark-mode .bg-white {
  transition: 0.5s all;
  background: #3a3a3a !important;
  color: #fff !important;
}
.dark-mode .bg-white:hover {
  transition: 0.5s all;

  background: #fff !important;
}
.dark-mode .bg-white:hover * {
  transition: 0.5s all;

  color: #000 !important;
}
.dark-mode .text-dark {
  color: #b6b6b6 !important;
}
.dark-mode #back-to-top-btn {
  border: 2px solid #fff;
}
.dark-mode-alert {
  transition: 3s all;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 9999999999999999999;
}
